[Unit]
Description=AwesomeWM session
Documentation=man:ssytemd.special(7)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
